#container {
    margin: auto;
    width: 1200px;
}

#top {
    float: right;
    border-style: solid;
    width: 1200px;
    line-height: 30px;
}

#content {
    margin-top: 10px;
    float: right;
    width: 900px;
    border-style: solid;
}

#navigation {
    margin-top: 10px;
    margin-left: -5px;
    line-height: 30px;
    height: 150px;
    width: 150px;
    float: left;
    border-style: solid;
}

#footer {
    margin-top: 10px;
    float: right;
    border-style: solid;
    width: 1200px;
}
