/*CSS reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*CSS manual*/


/*
Background container: #D9D3C7
Background top: #EAE8DE
Background content: #CDC8C1
Background footer: #B8B8B6
*/

#container {
    font-family: "italic", "helvetica", "sans-serif";
    margin: auto;
    width: 960px;
    background-color: #D9D3C7;
    overflow: auto;
    line-height: 120%
}

#top {
    text-align: center;
    margin-right: -5px;
    float: right;
    border: solid 1px black;
    width: 100%;
    line-height: 30px;
    background-color: #EAE8DE;
    background-image: url("../PICS/smile.svg");
    background-position: 150px -20px;
    background-repeat: no-repeat;
    background-size: 150px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

#content {
    margin-top: 10px;
    float: right;
    width: 85%;
    border-style: solid;
    background-color: #CDC8C1;
}

#content ul li {
    margin: 10px 0 0 0;
}

#content a {
    color: green;
    background-color: #fff;
}

#sign {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 15px;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 15px;
}

#navigation {
    font-size: 1.3em;
    margin-top: 10px;
    width: 13%;
    float: left;
    background-color: #9E9A9C;
    padding: 3px;
}

#navigation #list a {
    text-decoration: none;
    display: block;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid rgba(254, 254, 254, 1);
}

#navigation a:hover {
    color: #fff;
}

#navigation a:active {
    font-weight: bold;
    color: black;
}

#footer {
    text-align: center;
    margin-right: -5px;
    margin-top: 10px;
    float: right;
    border-style: solid;
    height: 30px;
    width: 100%;
    background-color: #B8B8B6;
}


/*overall css*/
