#container {
    margin: auto;
    width: 960px;
}

#top {
    margin: 10px;
    float: right;
    border-style: solid;
    width: 960px;
    line-height: 30px;
}

#content {
    margin: 10px;
    float: right;
    width: 700px;
    border-style: solid;
}

#navigation {
    margin: 10px;
    line-height: 30px;
    height: 150px;
    width: 150px;
    float: left;
    border-style: solid;
}

#footer {
    margin: 10px;
    float: right;
    border-style: solid;
    width: 960px;
}
